* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.nav-padre {
  background: #0077b6;
}

.div-padre {
  display: flex;
  justify-content: space-between;
  padding: 0px 30px;
  align-items: center;
}
.div-login {
  padding: 15px;
}
a {
  font-size: 20px;
  color: #4cafa8;
  text-decoration: none;
}

.buscador {
  flex: 1;
  border: none;
  padding: 5px;
  font-size: 16px;
}
.boton-buscador {
  background-color: #4cafa8;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}
.footer{
  width: 100%;
  background-color: #0077b6;
}

.footer .grupo-1{
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  padding: 45px 0px;
}
.footer .grupo-1 .box figure{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer .grupo-1 .box figure img{
  width: 200px;
}
.footer .grupo-1 .box h2{
  color: white;
  margin-bottom: 25px;
  font-size: 20px;
}
.footer .grupo-1 .box p{
  color: white;
  margin-bottom: 10px;
}

.footer .grupo-1 .box .red-social a{
  display: inline-block;
  text-decoration: none;
  width: 45px;
  height: 45px;
  line-height: 45px;
  color: white;
  margin-right: 10px;
  background-color: #0d2033;
  text-align: center;
  transition: all 300ms ease;
}

.footer .grupo-1 .box .red-social a:hover{
  color: aqua;
}

.footer .grupo-2{
  background-color:   #0d2033;
  padding: 15px 10px;
  text-align: center;
  color: azure; 
}
.enlace{
  text-decoration: none;
  color: #0a141d;
  
  
}
@media screen and (max-width:800px){
  .footer .grupo-1{
    width: 80%;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
    padding: 35px 0px;
  }
}